<div
  class="geo-capital social-bg w-full h-full text-center pt-20 px-4 flex flex-col gap-8"
>
  <button
    class="w-4/5 md:w-3/5 lg:w-2/5 text-3xl rounded-3xl bg-white px-4 py-4 mx-auto enabled"
    (click)="chooseCategory(categoryEnum.CATEGORY)"
  >
    კატეგორიები
  </button>
  <ng-container
    *ngIf="
      chosenCategory === categoryEnum.CATEGORY &&
      (categories$ | async) as categories
    "
  >
    <div
      class="fira-text w-4/5 md:w-3/5 lg:w-2/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto grid grid-cols-2 sm:grid-cols-3 gap-4"
    >
      <span
        *ngFor="let category of categories"
        class="flex flex-col text-center items-center justify-center"
      >
        <button
          mat-fab
          (click)="categoryClicked(category.name)"
          [ngClass]="{
            '!text-[#2a8d5c] enabled !bg-white hover:text-white hover:bg-[#2a8d5c]': true,
            selected: chosenSocialCategory === category.name
          }"
        >
          <mat-icon svgIcon="icons:{{ category.icon }}"></mat-icon>
        </button>
        <h3>
          {{ category.name }}
        </h3>
      </span>
    </div>
  </ng-container>

  <button
    class="w-4/5 md:w-3/5 lg:w-2/5 text-3xl rounded-3xl bg-white px-4 py-4 mx-auto enabled"
    (click)="chooseCategory(categoryEnum.REGION)"
  >
    რეგიონი
  </button>
  <ng-container
    *ngIf="
      chosenCategory === categoryEnum.REGION && (regions$ | async) as regions
    "
  >
    <div
      class="fira-text w-4/5 md:w-3/5 lg:w-2/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto flex flex-wrap gap-4 justify-center"
    >
      <button
        *ngFor="let region of regions"
        (click)="regionClicked(region)"
        [ngClass]="{
          'border-solid border-2 border-black px-4 rounded-2xl py-1 ease-in enabled': true,
          selected: chosenRegion === region
        }"
      >
        {{ region }}
      </button>
    </div>
  </ng-container>

  <button
    class="w-4/5 md:w-3/5 lg:w-2/5 text-3xl rounded-3xl bg-white px-4 py-4 mx-auto enabled"
    (click)="chooseCategory(categoryEnum.CITY)"
  >
    ქალაქი
  </button>
  <ng-container
    *ngIf="chosenCategory === categoryEnum.CITY && (cities$ | async) as cities"
  >
    <div
      class="fira-text w-4/5 md:w-3/5 lg:w-2/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto flex flex-wrap gap-4 justify-center"
    >
      <button
        *ngFor="let city of cities"
        (click)="cityClicked(city)"
        [ngClass]="{
          'border-solid border-2 border-black enabled px-4 rounded-2xl py-1 ease-in': true,
          selected: chosenCity === city
        }"
      >
        {{ city }}
      </button>
    </div>
  </ng-container>

  <input
    type="text"
    class="fira-text w-4/5 md:w-3/5 lg:w-2/5 text-xl rounded-3xl bg-white px-12 py-4 mx-auto"
    placeholder="საძიებო სიტყვა.."
  />

  <button
    *ngIf="
      !chosenCity && !chosenRegion && !chosenSocialCategory;
      else enabledButton
    "
    class="bg-black rounded-3xl text-3xl py-4 px-8 text-white w-4/5 md:w-3/5 lg:w-2/5 bg-opacity-80 my-4 mx-auto disabled:opacity-75"
    matTooltip="აირჩიეთ ქალაქი, რეგიონი ან კატეგორია ან შეიყვანეთ საძიებო სიტყვა"
  >
    მოძებნა
  </button>

  <ng-template #enabledButton>
    <button
      class="bg-[#2A8D5C] enabled rounded-3xl text-3xl py-4 px-8 text-white w-4/5 md:w-3/5 lg:w-2/5 bg-opacity-80 my-4 mx-auto"
      (click)="searchClicked()"
    >
      მოძებნა
    </button>
  </ng-template>
  <button
      class="bg-[#2A8D5C] enabled rounded-3xl text-3xl py-4 px-8 text-white w-4/5 md:w-3/5 lg:w-2/5 bg-opacity-80 my-4 mx-auto"
      routerLink="../home"
    >
      მთავარი გვერდი
    </button>
</div>
