.geo-capital {
  font-family: "Gugeshashvili";
}

.social-bg {
  background-image: url("../../assets/svgs/svg_age.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.fira-text {
  font-family: "FiraGO";
  font-weight: 400;
}

.enabled {
  transition: background-color 0.3s ease-in-out;
}

.enabled:hover {
  background-color: white;
  color: #2a8d5c;
  box-shadow: 0px 0px 8px #2a8d5c;
  transition: background-color 0.3s ease-in-out;
  opacity: 0.8;
}
