<div
  class="geo-capital social-bg w-full h-full text-center pt-20 px-4 flex flex-col gap-6"
>
  <ng-container *ngIf="quizState === quizStateEnum.CITY">
    <ng-container *ngIf="cities$ | async as cities">
      <div
        class="fira-text w-[90vw] md:w-3/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto"
      >
        <h2 class="geo-capital text-3xl rounded-3xl bg-white py-4 mx-auto">
          მუნიციპალიტეტი
        </h2>
        <div class="text-black bg-opacity-60 rounded-3xl p-4 mx-auto">
          აირჩიეთ ერთი ან მეტი მუნიციპალიტეტი
        </div>
        <div class="flex flex-wrap gap-4 justify-center">
          <button
            *ngFor="let city of cities"
            (click)="cityClicked(city)"
            [ngClass]="{
              'border-solid border-2 border-black enabled px-4 rounded-2xl py-1 ease-in': true,
              selected: chosenCities.includes(city)
            }"
          >
            {{ city }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="quizState === quizStateEnum.STATUS">
    <ng-container *ngIf="statuses$ | async as statuses">
      <div
        class="fira-text w-[90vw] md:w-3/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto"
      >
        <h2 class="geo-capital text-3xl rounded-3xl bg-white py-4 mx-auto">
          ბენეფიციარის სტატუსი
        </h2>

        <div class="text-black bg-opacity-60 rounded-3xl p-4 mx-auto">
          მიუთითეთ პოტენციური ბენეფიციარის აღმწერი ერთი ან მეტი სტატუსი
        </div>
        <div class="flex flex-wrap gap-4 justify-center">
          <button
            *ngFor="let status of statuses"
            (click)="statusClicked(status)"
            [ngClass]="{
              'border-solid border-2 border-black enabled px-4 rounded-2xl py-1 ease-in w-full': true,
              selected: chosenStatuses.includes(status)
            }"
          >
            {{ status }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="quizState === quizStateEnum.FAMILY">
    <ng-container *ngIf="familyRequirements$ | async as familyRequirements">
      <div
        class="fira-text w-[90vw] md:w-3/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto"
      >
        <h2 class="geo-capital text-3xl rounded-3xl bg-white py-4 mx-auto">
          ბენეფიციარის ოჯახის სტატუსი
        </h2>

        <div class="text-black bg-opacity-60 rounded-3xl p-4 mx-auto">
          მიუთითეთ პოტენციური ბენეფიციარის ოჯახის აღმწერი ერთი ან მეტი სტატუსი
        </div>
        <div class="flex flex-wrap gap-4 justify-center">
          <button
            *ngFor="let familyRequirement of familyRequirements"
            (click)="familyRequirementClicked(familyRequirement)"
            [ngClass]="{
              'border-solid border-2 border-black enabled px-4 rounded-2xl py-1 ease-in w-full': true,
              selected: chosenFamilyRequirements.includes(familyRequirement)
            }"
          >
            {{ familyRequirement }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="quizState === quizStateEnum.PARENTS">
    <ng-container *ngIf="parentRequirements$ | async as parentRequirements">
      <div
        class="fira-text w-[90vw] md:w-3/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto"
      >
        <h2 class="geo-capital text-3xl bg-white py-4 mx-auto">
          ბენეფიციარის მშობლის სტატუსი
        </h2>

        <div class="text-black bg-opacity-60 rounded-3xl p-4 mx-auto">
          მიუთითეთ პოტენციური ბენეფიციარის მშობლის აღმწერი ერთი ან მეტი სტატუსი
        </div>
        <div class="flex flex-wrap gap-4 justify-center">
          <button
            *ngFor="let parentRequirement of parentRequirements"
            (click)="parentRequirementClicked(parentRequirement)"
            [ngClass]="{
              'border-solid border-2 border-black enabled px-4 rounded-2xl py-1 ease-in w-full': true,
              selected: chosenParentRequirements.includes(parentRequirement)
            }"
          >
            {{ parentRequirement }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="quizState === quizStateEnum.HEALTH">
    <ng-container *ngIf="healthRequirements$ | async as healthRequirements">
      <div
        class="fira-text w-[90vw] md:w-3/5 text-md rounded-3xl bg-white px-4 py-4 mx-auto"
      >
        <h2 class="geo-capital text-3xl rounded-3xl bg-white py-4 mx-auto">
          ბენეფიციარის ჯანმრთელობის მდგომარეობა
        </h2>

        <div class="text-black bg-opacity-60 rounded-3xl p-4 mx-auto">
          მიუთითეთ პოტენციური ბენეფიციარის ჯანმრთელობის მდგომარეობის აღმწერი
          ერთი ან მეტი სტატუსი
        </div>
        <div class="flex flex-wrap gap-4 justify-center">
          <button
            *ngFor="let healthRequirement of healthRequirements"
            (click)="healthRequirementClicked(healthRequirement)"
            [ngClass]="{
              'border-solid border-2 border-black enabled px-4 rounded-2xl py-1 ease-in': true,
              selected: chosenHealthRequirements.includes(healthRequirement)
            }"
          >
            {{ healthRequirement }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="w-[90vw] md:w-3/5 lg:w-2/5 mx-auto flex justify-between">
    <button
      *ngIf="backButtonEnabled; else disabledBackButton"
      class="bg-[#FF8573] enabled-pink rounded-3xl text-3xl text-white bg-opacity-80 w-2/12"
      (click)="back()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <ng-template #disabledBackButton>
      <button
        class="bg-black bg-opacity-30 rounded-3xl text-3xl text-white w-2/12 cursor-default"
      >
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </ng-template>

    <button
      *ngIf="nextButtonEnabled && !resultsButtonEnabled"
      class="bg-[#2A8D5C] enabled rounded-3xl text-3xl py-4 px-8 text-white bg-opacity-80 w-9/12"
      (click)="next()"
    >
      შემდეგი
    </button>

    <button
      *ngIf="
        !nextButtonEnabled &&
        !resultsButtonEnabled &&
        quizState !== quizStateEnum.HEALTH
      "
      class="bg-black bg-opacity-30 rounded-3xl text-3xl py-4 px-8 text-white w-9/12 cursor-default"
    >
      შემდეგი
    </button>
    <button
      *ngIf="resultsButtonEnabled && !nextButtonEnabled"
      class="bg-[#2A8D5C] enabled rounded-3xl text-3xl py-4 px-8 text-white bg-opacity-80 w-9/12"
      (click)="resultsClicked()"
    >
      შედეგები
    </button>

    <button
      *ngIf="!resultsButtonEnabled && quizState === quizStateEnum.HEALTH"
      class="bg-black bg-opacity-30 rounded-3xl text-3xl py-4 px-8 text-white w-9/12 cursor-default"
    >
      შედეგები
    </button>
  </div>

  <button
    class="bg-[#2A8D5C] enabled rounded-3xl text-3xl py-4 px-8 text-white w-[90vw] md:w-3/5 lg:w-2/5 bg-opacity-80 mx-auto mb-8"
    routerLink="../home"
  >
    მთავარი გვერდი
  </button>
</div>
