<div
  class="geo-capital social-bg w-full h-full text-center pt-20 px-4 flex flex-col"
>
  <h1
    class="w-4/5 md:w-3/5 lg:w-2/5 text-3xl rounded-3xl bg-white px-4 py-4 mx-auto"
  >
    პროექტის შესახებ
  </h1>
  <div class="fira-text flex flex-col self-center my-12 gap-8 w-4/5 md:w-3/5 lg:w-2/5 bg-black text-white bg-opacity-60 rounded-3xl p-4">
    <p>
      საქართველოში არსებულ სოციალურ სერვისებზე საზოგადოების ცნობიერება
      რადიკალურად დაბალია.
      <br />
      არაბენეფიციარი მოსახლეობის თითქმის 30%-ს არ სმენია არცერთი სოციალური
      სერვისის შესახებ, 57.7% კი მხოლოდ ორ სოციალურ პროგრამას იცნობს.
      <br />
      ამ ვებგვერდის შექმნის იდეამ გაიმარჯვა ჰაკათონში "სოციალური სერვისები
      ახალგაზრდებისთვის". ვებგვერდი სოციალური სერვისების ირგვლივ ცნობადობის
      გაზრდას ემსახურება.
      <br />ავტორები: <br />დიზაინი: გიორგი ყარალაშვილი <br />ვებ-დეველოპმენტი:
      ბესარიონ სათნო
      <br />
      ეს ვებგვერდი შექმნილია ევროკავშირის მხარდაჭერით. მის შინაარსზე სრულად
      პასუხისმგებელია ForSet და შესაძლოა, რომ იგი არ გამოხატავდეს ევროკავშირის
      შეხედულებებს. ვებგვერდი განვითარდა ForSet-ის ორგანიზებით, პროექტის
      “სოციალური დაცვის გაძლიერება საქართველოში” ფარგლებში, რომელსაც ახორციელებს
      Expertise France და ჩეხეთის განვითარების სააგენტო ევროკავშირის ფინანსური
      მხარდაჭერით.
    </p>

  <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white geo-capital w-full bg-opacity-80 my-4"
      routerLink="../home"
    >
      მთავარი გვერდი
    </button>
  </div>
</div>
