<div
  class="geo-capital social-bg w-full h-full text-center pt-20 px-4 flex flex-col justify-between"
>
  <h1
    class="w-4/5 md:w-3/5 xl:w-2/5 text-3xl rounded-3xl bg-white px-4 py-4 mx-auto"
  >
    პროექტის შესახებ
  </h1>
  <div
    class="fira-text flex flex-col self-center my-12 gap-8 w-4/5 md:w-3/5 xl:w-2/5 bg-black text-white bg-opacity-60 rounded-3xl p-4"
  >
    <div>
      <p class="my-2">
        საქართველოში არსებულ სოციალურ სერვისებზე საზოგადოების ცნობიერება
        რადიკალურად დაბალია. არაბენეფიციარი მოსახლეობის თითქმის 30%-ს არ სმენია
        არცერთი სოციალური სერვისის შესახებ, 57.7% კი მხოლოდ ორ სოციალურ
        პროგრამას იცნობს.
      </p>
      <hr />
      <p class="my-2">
        ამ ვებგვერდის შექმნის იდეამ გაიმარჯვა ჰაკათონში "სოციალური სერვისები
        ახალგაზრდებისთვის". ვებგვერდი სოციალური სერვისების ირგვლივ ცნობადობის
        გაზრდას ემსახურება.
      </p>
      <hr />
      <p class="my-2">
        ეს ვებგვერდი შექმნილია ევროკავშირის მხარდაჭერით. მის შინაარსზე სრულად
        პასუხისმგებელია ForSet და შესაძლოა, რომ იგი არ გამოხატავდეს ევროკავშირის
        შეხედულებებს. ვებგვერდი განვითარდა ForSet-ის ორგანიზებით, პროექტის
        “სოციალური დაცვის გაძლიერება საქართველოში” ფარგლებში, რომელსაც
        ახორციელებს Expertise France და ჩეხეთის განვითარების სააგენტო
        ევროკავშირის ფინანსური მხარდაჭერით.
      </p>
      <hr />
      <p class="mt-2">
        დიზაინი: გიორგი ყარალაშვილი <br />ვებ-დეველოპმენტი: ბესარიონ სათნო
      </p>
    </div>
    <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white geo-capital w-full bg-opacity-80 mb-4"
      routerLink="../home"
    >
      მთავარი გვერდი
    </button>
  </div>

  <div class="flex justify-between flex-wrap md:flex-no-wrap bg-white">
    <img
      class="w-full sm:w-1/2 md:w-3/12 object-scale-down"
      src="../../assets/EU_ENG.jpg"
      />
      <img
      class="w-full sm:w-1/2 md:w-3/12 object-scale-down"
      src="../../assets/EU_GEO.jpg"
      />
    <img
      class="w-1/2 sm:w-1/3 md:w-2/12 object-scale-down"
      src="../../assets/EX_FR.jpg"
    />
    <img
      class="w-1/2 sm:w-1/3 md:w-2/12 object-scale-down"
      src="../../assets/ForSet-wordmark-dark.svg"
    />
    <img
      class="w-full sm:w-1/3 md:w-2/12 object-scale-down"
      src="../../assets/EN_CZ.svg"
    />
  </div>
</div>
