.bg {
  background-repeat: repeat;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  &-a {
    background-image: url("../assets/svgs/background-a.svg");
  }
  &-b {
    background-image: url("../assets/svgs/background-b.svg");
  }
  &-c {
    background-image: url("../assets/svgs/background-c.svg");
  }
  &-d {
    background-image: url("../assets/svgs/background-d.svg");
  }
}
