.bg {
  background-repeat: repeat;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  &-a {
    background-image: url("../assets/svgs/background-a.svg");
  }
  &-b {
    background-image: url("../assets/svgs/background-b.svg");
  }
  &-c {
    background-image: url("../assets/svgs/background-c.svg");
  }
  &-d {
    background-image: url("../assets/svgs/background-d.svg");
  }
  &::after {
    content: "";
    background-image: url("../assets/drive-download-20230823T121149Z-001/SVG/ForSet-wordmark-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 60px;
    opacity: 0.7;
  }
}
