<div
  class="geo-capital social-bg w-full h-full text-center pt-20 px-4 flex flex-col"
>
  <h1 class="w-4/5 md:w-3/5 lg:w-2/5 text-3xl rounded-3xl px-4 pt-4 mx-auto">
    Set For Youth
  </h1>
  <div
    class="fira-text flex flex-col self-center my-2 w-4/5 md:w-3/5 xl:w-2/5 text-black"
  >
    <div>
      <p class="my-2">სოციალური სერვისები <br />ახალგაზრდებისთვის</p>
    </div>
  </div>
  <div class="flex flex-col self-center mt-2 gap-2">
    <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white w-full bg-opacity-80"
      routerLink="../quiz"
    >
      ქვიზი
    </button>
    <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white w-full bg-opacity-80"
      routerLink="../explore"
    >
      მოძებნე სერვისი
    </button>
    <button
      class="rounded-3xl text-2xl py-4 px-8 text-black w-full bg-opacity-80"
      routerLink="../about"
    >
      პროექტის შესახებ
    </button>
  </div>
</div>
