<div
  class="geo-capital social-bg w-full h-full text-center pt-20 px-4 flex flex-col"
>
  <h1 class="w-4/5 md:w-3/5 lg:w-2/5 text-3xl rounded-3xl bg-white px-4 py-4 mx-auto">
    მთავარი გვერდი
  </h1>
  <div class="flex flex-col self-center mt-24 gap-8">

    <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white  w-full bg-opacity-80"
      routerLink="../quiz"
    >
      ქვიზი
    </button>
    <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white  w-full bg-opacity-80"
      routerLink="../explore"
    >
      მოძებნე სერვისი
    </button>
    <button
      class="bg-[#2A8D5C] rounded-3xl text-3xl py-4 px-8 text-white w-full bg-opacity-80"
      routerLink="../about"
    >
      პროექტის შესახებ
    </button>
  </div>
</div>
