@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alaverdi MT";
  src: url("assets/fonts/gf-alaverdi-mt.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nino Mtavruli";
  src: url("assets/fonts/bpg_nino_mtavruli_normal.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gugeshashvili";
  src: url("assets/fonts/gugeshashvili2.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

